.add_board {
    height: 10rem;
    width: 100%;
    background-color: #d6dadd;
    display: flex;
    align-items: center;

    p {
        font-size: 1.2rem;
        font-weight: bold;
    }

    cursor: pointer;
    &:hover{
        box-shadow: 4px 4px 4px -1px rgba(0,0,0,0.2),
        0px 4px 5px 0px rgba(0,0,0,0.14),
        0px 1px 10px 0px rgba(0,0,0,0.12); 
    }

    textarea{
        resize: none;
    }
}