.sidebar_menu{
    height: 100%;
    margin-top: 3.5rem;
    padding: 0 10px;
    &_button{
        margin: 0;
        &:hover{
            transform: scale(1.05);
            cursor: pointer;
        }
    }
    span{
        font-weight: bold;
    }
}